<h1>About Jungle</h1>

<p>Here at Jungle, we aim to deliver top quality products to our amazing jungle friends <strong>(that's you!).</strong><br/>
We have been in the business of selling <em>unique</em> products since 1665!
Whether you are buying or listing items, we hope you find what you're looking for!
</p>


